@media(max-width:900px){
    #soul{
        margin: 0px;
        box-shadow: none;
    }
    #Clock{
        top: 6rem;
        right: 0rem;
        border: 0.05rem solid white;
        box-shadow: 0rem 0rem 0.5rem 0rem white;
    }
    #container{
        margin: 0rem;
        padding: 1rem 0rem;
    }
    .containerElement{
        margin:2rem 0.5rem;
        padding-left: 1rem;
    }
    .handle{
        margin-right: 1rem;
    }
    #generalQualification{
        grid-template-columns: 1fr;
        grid-gap: 0.3rem;
    }
    #proLangKnown{
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        
    }
    #webFramework{
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        
    }
    .elementLines{
        text-align: left;
    }
    .containerElement>div>div>p{
        text-align: left;
    }
    #contactInfoItems{
        display: block;
        width: 80%;        
    }
    #personalInformationLines{
        font-size: small;
        padding: 1rem;
    }
}